* {
    zoom: reset;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    background: radial-gradient(ellipse at center, rgba(166, 166, 166, 1) 0%, rgba(139, 138, 138, 1) 24%, rgba(78, 77, 76, 1) 78%, rgba(54, 53, 51, 1) 100%);
}

#slider-rotate {
    position: absolute;
    top: 20px;
    left: 21px;
    height: 100px;
}

.chat {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
}

.chat li {
    width: 90%;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-top: 1px solid #E0E0E0;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}


.chat li .chat-body p {
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
    margin-right: 5px;
}

#chatbox .panel-body {
    background-color: white;
    opacity: 0.7;
    height: calc(100vh - 150px);
    overflow-y: scroll;
    position: relative;
}

#chatbox .panel-footer {
    pointer-events: all;
    touch-action: all;
}

#chatbox .panel-footer {
    border-radius: 0;
    border: 0;
}

#chatbox {
    bottom: 45px;
    right: 0;
    position: absolute;
    pointer-events: none;
    touch-action: none;
    width: 25%;
    min-width: 300px;
}

#chatbox>.panel {
    background-color: transparent;
    border: none;
    box-shadow: none;
    margin-right: 20px;
}

.thumbnail,
.begin,
.title,
.duration,
.beginslider {
    margin: auto;
}

.beginslider {
    width: 90%;
}

.audioform {
    text-align: center;
}